/*
* Name: Cole Crooks
* email:  crookscl@mail.uc.edu
* Assignment Number: Final Project
* Due Date:   12/10/2024
* Course #/Section:   IS3050-001
* Semester/Year:   Fall 2024
* Brief Description of the assignment:  Final Project for the IS 3050 Web Development w/ .NET

* Brief Description of what this module does. Demonstrating all that we've learned this year, solve one (1) hard leetcode problem per person with class knowledge and Github
* Citations:https://leetcode.com/problems/parsing-a-boolean-expression/description/
            https://github.com/cole-crooks/crookscl_FinalProject          
* Anything else that's relevant: My collaborators on this project are Jack Driehaus (driehajl@mail.uc.edu), Derick Bellofatto (bellofdk@mail.uc.edu), and LAST GUY (HIS EMAIL)
*/

#cmdProblemSolve {
    color: #000000;
    border: 2px solid #000000;
    background-color: #F28C28;
}

    #cmdProblemSolve:hover {
        background-color: #000000;
        color: #F28C28;
    }

body {
    font-family: Times New Roman, serif;
    font-size: 18px;
    background-image: linear-gradient(to right, white, orange);
}

#lblTitle {
    font-family: Times New Roman, serif;
    font-size: 30px;
}
